{% extends "@templates/base.twig" %}

{% block content %}
    <div class="page-container page-container-simple page-container-404" data-node-type="page" id="page-container-404" data-is-home="0">

        <div class="page-content-simple">
            <div class="container text-align-center">
                <h1 class="page-title">Page introuvable</h1>
                <p>Désolé, la page demandée est introuvable.</p>
                <p>
                    <a href="{{ site.url }}">Retour à l'accueil</a>
                </p>
            </div>
        </div>

    </div>
{% endblock %}

