{% extends "@templates/base.twig" %}

{% block content %}
<div class="page-container page-container-404" data-node-type="page" id="page-container-404" data-is-home="0">

	<div class="page-content-title">
		<div class="container">
			<h1 class="page-title">Sorry, we couldn't find what you're looking for.</h1>
		</div>
	</div>

</div>
{% endblock %}