{% if menu %}
	<ul>
		{% for item in items %}
			<li class="{{ item.classes | join(' ') }}">
				<a {% if item.target %} target="{{ item.target }}" {% endif %} href="{{ item.link }}">{{ item.title }}</a>
				{% include "@templates/common/menu.twig" with {'items': item.children} %}
			</li>
		{% endfor %}
	</ul>
{% endif %}

